@font-face {
	font-family: iconfont;
	src: url(//at.alicdn.com/t/font_1428652832_452522.eot?#iefix) format("embedded-opentype"), url(//at.alicdn.com/t/font_1428652832_452522.woff) format("woff"), url(//at.alicdn.com/t/font_1428652832_452522.ttf) format("truetype"), url(//at.alicdn.com/t/font_1428652832_452522.svg#iconfont) format("svg");
}
blockquote {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
img {
	border: 0px currentColor; border-image: none;
}
address {
	font-style: normal; font-weight: 400;
}
caption {
	font-style: normal; font-weight: 400;
}
cite {
	font-style: normal; font-weight: 400;
}
code {
	font-style: normal; font-weight: 400;
}
dfn {
	font-style: normal; font-weight: 400;
}
em {
	font-style: normal; font-weight: 400;
}
th {
	font-style: normal; font-weight: 400;
}
var {
	font-style: normal; font-weight: 400;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
h1 {
	font-size: 100%; font-weight: 400;
}
h2 {
	font-size: 100%; font-weight: 400;
}
h3 {
	font-size: 100%; font-weight: 400;
}
h4 {
	font-size: 100%; font-weight: 400;
}
h5 {
	font-size: 100%; font-weight: 400;
}
h6 {
	font-size: 100%; font-weight: 400;
}
q::after {
	content: "";
}
q::before {
	content: "";
}
abbr {
	border: 0px currentColor; border-image: none;
}
acronym {
	border: 0px currentColor; border-image: none;
}
.ua-webkit input:focus {
	outline: 0px;
}
.ua-webkit textarea:focus {
	outline: 0px;
}
html {
	-ms-overflow-x: auto; -ms-overflow-y: scroll;
}
body {
	font: 12px/1.6 Tahoma, Arial, Hiragino Sans GB, ����; color: rgb(77, 77, 77); font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: none;
}
a:link {
	color: rgb(0, 136, 204); text-decoration: none;
}
a:visited {
	color: rgb(51, 0, 102); text-decoration: none;
}
a:active {
	color: rgb(0, 136, 204); text-decoration: underline;
}
a:hover {
	color: rgb(0, 136, 204); text-decoration: underline;
}
input {
	outline: 0px;
}
textarea {
	outline: 0px; overflow: hidden; font-family: arial; resize: none;
}
button {
	line-height: 1.2; cursor: pointer;
}
a img {
	vertical-align: text-bottom;
}
.ua-windows_nt input[type=checkbox] {
	vertical-align: -2px;
}
.ua-windows_nt input[type=radio] {
	vertical-align: -2px;
}
.hide {
	left: -1000em; top: -1000em; visibility: hidden; position: absolute;
}
.clr::after {
	height: 0px; overflow: hidden; clear: both; display: block; content: ".";
}
.clr {
	
}
.ms-yh {
	font-family: Microsoft YaHei,Hiragino Sans GB,����;
}
.shadow {
	box-shadow: 0px 1px 3px rgba(34,25,25,0.4); -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, .4); -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, .4); -ms-box-shadow: 0 1px 3px rgba(34, 25, 25, .4); -o-box-shadow: 0 1px 3px rgba(34, 25, 25, .4);
}
.ua-ie .shadow {
	border: 1px solid rgb(214, 214, 214); border-image: none;
}
.split {
	margin: 0px 6px; color: rgb(204, 204, 204);
}
.form {
	width: 100%;
}
.form dd .form-error {
	padding: 0px 10px; border: 1px solid rgb(255, 225, 185); border-image: none; line-height: 32px; margin-left: 4px; float: left; display: block; background-color: rgb(255, 250, 174);
}
.form dd .form-info {
	margin-left: 0px;
}
.form dd .form-success {
	background: none !important; border: currentColor !important; border-image: none !important;
}
.fm-split {
	margin: 18px 0px 0px; color: rgb(124, 124, 124);
}
.fm-field-wrap::after {
	height: 0px; overflow: hidden; clear: both; display: block; content: "\0020";
}
.fm-field-wrap {
	
}
.fm-field-extra {
	margin-top: 6px;
}
.fm-field {
	padding: 2px 0px 8px;
}
.fm-relative {
	position: relative;
}
.fm-label {
	padding: 8px 0px 2px;
}
.fm-label .noempty {
	color: red; margin-right: 4px;
}
.fm-label-extra {
	float: right;
}
.fm-input-split {
	margin: 0px 6px; line-height: 31px; float: left;
}
.fm-text {
	background: rgb(255, 255, 255); padding: 4px 6px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(89, 89, 89); line-height: 17px; font-size: 12px; vertical-align: middle; float: left; box-shadow: inset 0px 1px 0px #ececec; -webkit-box-shadow: 0 1px 0 #ececec inset; -moz-box-shadow: 0 1px 0 #ececec inset; -ms-box-shadow: 0 1px 0 #ececec inset; -o-box-shadow: 0 1px 0 #ececec inset; _padding: 5px 6px;
}
.fm-textarea {
	background: rgb(255, 255, 255); padding: 4px 6px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(89, 89, 89); line-height: 17px; font-size: 12px; vertical-align: middle; float: left; box-shadow: inset 0px 1px 0px #ececec; -webkit-box-shadow: 0 1px 0 #ececec inset; -moz-box-shadow: 0 1px 0 #ececec inset; -ms-box-shadow: 0 1px 0 #ececec inset; -o-box-shadow: 0 1px 0 #ececec inset; _padding: 5px 6px;
}
.fm-text:hover {
	border: 1px solid rgb(166, 166, 166); border-image: none;
}
.fm-textarea:hover {
	border: 1px solid rgb(166, 166, 166); border-image: none;
}
.fm-text:focus {
	border-color: rgb(112, 165, 224); box-shadow: 0px 0px 2px #a6cfff; -webkit-box-shadow: 0 0 2px #a6cfff; -moz-box-shadow: 0 0 2px #a6cfff; -ms-box-shadow: 0 0 2px #a6cfff; -o-box-shadow: 0 0 2px #a6cfff;
}
.fm-textarea:focus {
	border-color: rgb(112, 165, 224); box-shadow: 0px 0px 2px #a6cfff; -webkit-box-shadow: 0 0 2px #a6cfff; -moz-box-shadow: 0 0 2px #a6cfff; -ms-box-shadow: 0 0 2px #a6cfff; -o-box-shadow: 0 0 2px #a6cfff;
}
.fm-checkbox {
	margin-right: 8px; vertical-align: middle;
}
.fm-radio {
	margin-right: 8px; vertical-align: middle;
}
.fm-checkcode {
	width: 48px !important; float: left;
}
.fm-checkcode-img {
	margin: 0px 6px; height: 30px; float: left; cursor: pointer;
}
.fm-checkcode-update {
	color: rgb(102, 102, 102); line-height: 27px; float: left;
}
.fm-haserror {
	border: 1px solid red !important; border-image: none !important; color: rgb(255, 82, 67);
}
.fm-validator-result {
	padding: 6px 0px 0px 20px; line-height: 17px; clear: both; display: none;
}
.fm-validator-result .icon-notice {
	margin-left: -20px;
}
.fm-validator-success {
	display: block;
}
.fm-validator-failure {
	background: rgb(255, 255, 255); color: rgb(255, 82, 67); display: block;
}
.fm-button {
	background: url("../img/login-btn.png") repeat-x 0px -1px; border: 1px solid rgb(232, 123, 14); border-image: none; height: 30px; text-align: center; color: rgb(255, 255, 255); font-family: Microsoft YaHei,Hiragino Sans GB,����; font-size: 14px; font-weight: 700; cursor: pointer; -ms-zoom: 100%; box-shadow: 0px 1px 1px #ebe7e6; -webkit-box-shadow: 0 1px 1px #ebe7e6; -moz-box-shadow: 0 1px 1px #ebe7e6; -ms-box-shadow: 0 1px 1px #ebe7e6; -o-box-shadow: 0 1px 1px #ebe7e6; _overflow: visible;
}
.fm-button:hover {
	background-position: 0px -31px; border: 1px solid rgb(232, 123, 14); border-image: none;
}
.fm-button:active {
	background-position: 0px -61px; border: 1px solid rgb(232, 123, 14); border-image: none;
}
a.fm-button {
	height: 28px; text-align: center; color: rgb(255, 255, 255) !important; line-height: 28px; text-decoration: none !important; display: inline-block !important;
}
input.fm-button {
	_border: 1px solid #fff; _line-height: 28px; _overflow-y: hidden; _background-color: #e87b0e;
}
input.fm-button:active {
	_background-color: #e87b0e;
}
input.fm-button:hover {
	_background-color: #e87b0e;
}
.fm-button-cancel {
	background: url("../img/login-btn.png") repeat-x 0px -91px; border: 1px solid rgb(188, 188, 188); border-image: none; height: 30px; text-align: center; color: rgb(51, 51, 51); font-family: Microsoft YaHei,Hiragino Sans GB,����; font-size: 14px; font-weight: 700; cursor: pointer; -ms-zoom: 100%; box-shadow: 0px 1px 1px #ebe7e6; -webkit-box-shadow: 0 1px 1px #ebe7e6; -moz-box-shadow: 0 1px 1px #ebe7e6; -ms-box-shadow: 0 1px 1px #ebe7e6; -o-box-shadow: 0 1px 1px #ebe7e6; _overflow: visible;
}
.fm-button-cancel:hover {
	background-position: 0px -121px;
}
.fm-button-cancel:active {
	background-position: 0px -151px;
}
a.fm-button-cancel {
	height: 28px; text-align: center; color: rgb(51, 51, 51) !important; line-height: 28px; text-decoration: none !important; display: inline-block !important;
}
input.fm-button-cancel {
	_border: 1px solid #fff; _line-height: 28px; _overflow-y: hidden; _background-color: #bcbcbc;
}
.fm-button-disabled {
	background: url("../img/login-btn.png") repeat-x 0px -181px !important; border: 1px solid rgb(212, 212, 212); border-image: none; color: rgb(204, 204, 204) !important; text-shadow: 0px 1px 0px #fff; -webkit-text-shadow: 0 1px 0 #fff; -moz-text-shadow: 0 1px 0 #fff; -ms-text-shadow: 0 1px 0 #fff; -o-text-shadow: 0 1px 0 #fff;
}
.fm-button-disabled:hover {
	background: url("../img/login-btn.png") repeat-x 0px -181px !important; border: 1px solid rgb(212, 212, 212); border-image: none; color: rgb(204, 204, 204) !important; text-shadow: 0px 1px 0px #fff; -webkit-text-shadow: 0 1px 0 #fff; -moz-text-shadow: 0 1px 0 #fff; -ms-text-shadow: 0 1px 0 #fff; -o-text-shadow: 0 1px 0 #fff;
}
input.fm-button-disabled {
	_background-color: #d4d4d4;
}
#login-form {
	font: 400 12px/normal arial; position: relative; font-size-adjust: none; font-stretch: normal;
}
#umFlash {
	left: -1000px; top: -1000px; width: 1px; height: 1px; display: block; position: absolute;
}
#login-form .clearfix::after {
	height: 0px; line-height: 0; clear: both; font-size: 0px; display: block; visibility: hidden; content: "\0020";
}
#login-form .clearfix {
	display: block; -ms-zoom: 1; _height: 1%;
}
#login-form a {
	text-decoration: none;
}
#login-form a:hover {
	text-decoration: none;
}
#login-form a:visited {
	text-decoration: none;
}
#login-form .notice-descript a {
	text-decoration: underline;
}
#login-form .notice-descript a:hover {
	text-decoration: underline;
}
#login-form .notice-descript a:visited {
	text-decoration: underline;
}
.login #content {
	padding-top: 51px;
}
#login-form #login-error {
	display: none;
}
.is-error-show#login-form #login-error {
	display: block;
}
#login-content label {
	font-weight: 700;
}
#login-content .fm-text {
	width: 100%;
}
#login-content .fm-text::selection {
	background: rgb(25, 150, 230); color: rgb(255, 255, 255);
}
#login-content :-ms-input-placeholder.fm-text {
	color: rgb(170, 170, 170);
}
#login-content .fm-field-wrap {
	padding-right: 14px;
}
#login-content #fm-login-checkcode-update {
	color: rgb(102, 102, 102); white-space: nowrap; -ms-word-break: keep-all;
}
#lbl-activex-login {
	font-weight: 400; vertical-align: middle;
}
#lbl-keep-login {
	font-weight: 400; vertical-align: middle;
}
#fm-login-checkcode-title {
	display: none;
}
#fm-login-submit-wrap {
	padding: 8px 0px;
}
#login-extra {
	margin-top: 10px;
}
#login-extra .right-link {
	float: right;
}
#login-form .loading-mask {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
#login-form .loading-mask .loading-icon {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
#login-form .loading-mask .loading-mask-body {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
#login-form .loading-mask .loading-icon {
	background: url("../img/ajax-loader.gif") no-repeat center; z-index: 2;
}
#login-form .loading-mask .loading-mask-body {
	z-index: 1; opacity: 0.8; background-color: rgb(255, 255, 255);
}
#login-form #login-loading {
	display: none;
}
.status-loading#login-form #login-loading {
	display: block;
}
#login-form #account-check-loading {
	display: none;
}
.status-account-check-loading#login-form #account-check-loading {
	display: block;
}
.status-account-check-loading#login-form #fm-login-id-wrap .fm-field-wrap {
	position: relative;
}
#has-login-user {
	padding: 0px 0px 23px; width: 250px;
}
#has-login-user .user-name {
	color: rgb(255, 102, 0); line-height: 20px; font-weight: 700; display: block;
}
#has-login-list {
	margin: 24px 0px;
}
#has-login-field .fm-submit {
	width: 250px;
}
#login-other-sso {
	cursor: pointer;
}
#login-other-sso .icon-question {
	margin: 0px 0px 0px 8px;
}
.is-checkcode-show #login-content .about-checkcode {
	display: block;
}
#login-form .about-checkcode {
	display: none;
}
.style-type-vertical {
	width: 250px;
}
.style-type-vertical #fm-login-submit {
	width: 100%; margin-top: 10px;
}
.style-type-auto {
	width: 100%;
}
.style-type-auto #fm-login-submit {
	width: 100%; margin-top: 10px;
}
.style-type-horizontal {
	width: 370px;
}
.style-type-horizontal #login-error {
	width: 312px; margin-bottom: 10px;
}
.style-type-horizontal #login-content .fm-label {
	width: 132px; text-align: right; padding-right: 8px; clear: both; float: left;
}
.style-type-horizontal #login-content .fm-field {
	width: 200px; float: left;
}
.style-type-horizontal #login-content .fm-text {
	float: left;
}
.style-type-horizontal #fm-login-submit {
	padding: 0px 25px; margin-left: 140px;
}
.style-type-horizontal #fm-login-id {
	float: none !important;
}
.style-type-horizontal #fm-login-password {
	float: none !important;
}
.style-type-horizontal #forgot-password-link {
	text-align: left; margin-top: 3px; display: block;
}
.style-type-horizontal .fm-checkcode {
	width: 30px !important;
}
.notice {
	padding: 4px 12px; line-height: 18px; font-family: Tahoma,Helvetica,Arial,����;
}
.notice-wrapper {
	padding-left: 20px;
}
.notice-wrapper .icon-notice {
	margin-left: -42px;
}
.notice-info {
	background: rgb(229, 245, 255); border: 1px solid rgb(201, 213, 226); border-image: none;
}
.notice-what {
	background: rgb(229, 245, 255); border: 1px solid rgb(201, 213, 226); border-image: none;
}
.notice-alert {
	background: rgb(255, 255, 141); border: 1px solid rgb(231, 197, 96); border-image: none;
}
.notice-error {
	background: rgb(252, 238, 232); border: 1px solid rgb(246, 200, 181); border-image: none;
}
.notice-forbid {
	background: rgb(252, 238, 232); border: 1px solid rgb(246, 200, 181); border-image: none;
}
.notice-success {
	background: rgb(231, 255, 206); border: 1px solid rgb(185, 226, 160); border-image: none;
}
.notice-wait {
	background: rgb(255, 249, 217); border: 1px solid rgb(230, 203, 177); border-image: none;
}
.form-error {
	padding-left: 32px;
}
.form-error .icon-error {
	margin-left: -20px;
}
.suggest-container {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-image: none; left: 0px; top: 30px; position: absolute; z-index: 99;
}
.input-with-completion {
	z-index: 10;
}
.suggest-item a {
	padding: 4px 6px; color: rgb(77, 77, 77); display: block;
}
.suggest-container .suggest-item-selected {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(25, 150, 230);
}
.suggest-item a:active {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(25, 150, 230);
}
.suggest-item a:hover {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(25, 150, 230);
}
#login-content .suggest-container {
	top: 27px; width: 250px;
}
#login-content .yun-account-notice {
	padding: 4px 6px; text-align: right; color: rgb(153, 153, 153);
}
#accountName {
	width: 220px; display: inline; -ms-word-wrap: break-word;
}
#login-title {
	padding-bottom: 5px; font-size: 16px; font-weight: 700; margin-bottom: 10px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
#login-other {
	overflow: hidden; margin-top: 10px; -ms-zoom: 1;
}
#login-other .login-login-links {
	float: left;
}
#login-other .login-login-links a {
	padding-right: 2px;
}
#login-other .register {
	float: right;
}
#login-other .register a {
	color: rgb(0, 136, 204);
}
.yunmail #fm-login-id {
	background: url("../img/yunmail_input_bj.png") no-repeat right rgb(255, 255, 255); padding: 2px 100px 4px 6px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 142px; height: 17px; font-family: Arial;
}
.iconfont {
	font-family: iconfont !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: .2px; -moz-osx-font-smoothing: grayscale;
}
.qrcode-login {
	padding-top: 20px; z-index: 1;
}
.qrcode-desc {
	text-align: center; padding-bottom: 10px;
}
.qrcode-main {
	padding-bottom: 15px; position: relative; min-height: 130px; _height: 130px;
}
.qrcode-img {
	margin: 0px auto; padding: 7px; width: 115px; height: 115px; box-shadow: 0px 0px 8px #ddd;
}
.qrcode-msg {
	margin-top: 40px;
}
.qrcode-msg h6 {
	text-align: center; color: rgb(51, 51, 51); font-size: 14px; font-weight: 700; margin-top: 15px;
}
.qrcode-msg p {
	text-align: center; margin-top: 10px;
}
.msg-err i {
	margin: 0px auto; text-align: center; line-height: 32px; font-size: 32px; display: inline-block; _display: inline;
}
.msg-ok i {
	margin: 0px auto; text-align: center; line-height: 32px; font-size: 32px; display: inline-block; _display: inline;
}
.msg-ok i {
	color: rgb(181, 225, 99);
}
.msg-err i {
	color: rgb(243, 124, 117);
}
.qrcode-login .refresh {
	border-radius: 3px; width: 250px; text-align: center; font-size: 16px; cursor: pointer; -ms-zoom: 1;
}
.qrcode-login .refresh:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.qrcode-login .qrcode-msg {
	display: none;
}
.qrcode-login-error .qrcode-msg .msg-err {
	display: none;
}
.qrcode-login-error .qrcode-msg .msg-ok {
	display: none;
}
.qrcode-login-error .qrcode-msg {
	display: block;
}
.qrcode-login-error .qrcode-msg .msg-err {
	display: block;
}
.qrcode-login-ok .qrcode-msg {
	display: block;
}
.qrcode-login-ok .qrcode-msg .msg-ok {
	display: block;
}
.qrcode-login-error .qrcode-mod {
	display: none;
}
.qrcode-login-ok .qrcode-mod {
	display: none;
}
.qrcode-login-ok .qrcode-msg .msg-err {
	display: none;
}
#login-wrap .hd {
	overflow: hidden; margin-bottom: 20px;
}
#login-wrap .hd h2 {
	width: 50%; text-align: center; color: rgb(153, 153, 153); padding-bottom: 12px; font-size: 12px; border-bottom-color: rgb(222, 222, 222); border-bottom-width: 1px; border-bottom-style: solid; float: left; display: block; cursor: pointer;
}
.login-static .qrcode-login {
	display: none;
}
.login-quick .qrcode-login {
	display: block;
}
.login-static #login-form {
	display: block;
}
.login-quick #login-form {
	display: none;
}
.login-quick#login-wrap .hd .quick {
	color: rgb(51, 51, 51); border-bottom-color: rgb(255, 68, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
.login-static#login-wrap .hd .static {
	color: rgb(51, 51, 51); border-bottom-color: rgb(255, 68, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
.lang-ar_SA .fm-label {
	direction: rtl;
}
.lang-ar_SA .fm-text {
	direction: rtl;
}
.icon {
	overflow: hidden; margin-right: 6px; vertical-align: -2px; display: inline-block; background-image: url("../img/icon.png"); background-repeat: no-repeat; background-color: transparent; _vertical-align: -1px;
}
.icon-notice {
	overflow: hidden; margin-right: 6px; vertical-align: -2px; display: inline-block; background-image: url("../img/icon.png"); background-repeat: no-repeat; background-color: transparent; _vertical-align: -1px;
}
.icon-site {
	overflow: hidden; margin-right: 6px; vertical-align: -2px; display: inline-block; background-image: url("../img/icon.png"); background-repeat: no-repeat; background-color: transparent; _vertical-align: -1px;
}
.icon-notice {
	background-image: url("../img/notice.png");
}
.icon-info {
	background-position: 0px -34px; width: 14px; height: 14px;
}
.icon-info-l {
	background-position: 0px 0px; width: 32px; height: 32px;
}
.icon-alert {
	background-position: -15px -34px; width: 14px; height: 14px;
}
.icon-alert-l {
	background-position: -33px 0px; width: 32px; height: 32px;
}
.icon-error {
	background-position: -30px -34px; width: 14px; height: 14px;
}
.icon-error-l {
	background-position: -66px 0px; width: 32px; height: 32px;
}
.icon-success {
	background-position: -45px -34px; width: 14px; height: 14px;
}
.icon-success-l {
	background-position: -99px 0px; width: 32px; height: 32px;
}
.icon-what {
	background-position: -60px -34px; margin: 0px 6px; width: 14px; height: 14px; cursor: pointer;
}
.icon-what-l {
	background-position: -132px 0px; margin: 0px 6px; width: 32px; height: 32px;
}
.icon-forbid {
	background-position: -76px -34px; width: 14px; height: 14px;
}
.icon-forbid-l {
	background-position: -165px 0px; width: 32px; height: 32px;
}
.icon-wait {
	background-position: -91px -34px; width: 14px; height: 14px;
}
.icon-wait-l {
	background-position: -198px 0px; width: 32px; height: 32px;
}
.icon-site {
	background: url("../img/site.png") no-repeat; margin-right: 3px; vertical-align: middle;
}
.icon-taobao {
	background-position: 0px 0px; width: 16px; height: 16px;
}
.icon-alipay {
	background-position: 0px -99px; width: 16px; height: 16px;
}
.icon-aliyun {
	background-position: 0px -19px; width: 16px; height: 16px;
}
.icon-aliyunos {
	background-position: 0px -19px; width: 16px; height: 16px;
}
.icon-alibaba {
	background-position: 0px -39px; width: 16px; height: 16px;
}
.icon-alibabachina {
	background-position: 0px -39px; width: 16px; height: 16px;
}
.icon-aliexpress {
	background-position: 0px -39px; width: 16px; height: 16px;
}
.icon-yahoo {
	background-position: 0px -60px; width: 16px; height: 16px;
}
.icon-laiwang {
	background-position: 0px -79px; width: 16px; height: 16px;
}
.icon-facebook {
	background-position: 0px -320px; width: 16px; height: 16px;
}
